*{
    background-color: #202020;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 31px;
    color: gray;
}


#menu1{
    border: 5px solid gray;
    position: absolute;
    top:10px;
    border-radius: 0.4cm;
    text-align: center;
}
a:hover{
    color: #108d9c;
}

a{
    color: gray;
}
#contenu{
    position: absolute;
    top:10px;
    left: 280px;
    right: 10px;
}
h1{
    text-align: center;
    font-size: 80px;
    color: #108d9c;
}
strong{
    color: #108d9c
}
#crw{
    position: absolute;
    top:310px;
    left: 600px;
    width: 450px;
}
#cre{
    position: absolute;
    top:310px;
    left: 330px;
    width: 250px;
}
#reste{
    position: absolute;
    top:510px;
}