*{
    background-color: #202020;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 31px;
    color: gray;
}

#menu1{
    border: 5px solid gray;
    position: absolute;
    top:10px;
    border-radius: 0.4cm;
    text-align: center;
}

a:hover{
    color: #108d9c;
}

a{
    color: gray;
}

h1{
    color: #108d9c;
    font-size: 80px;
    text-align: center;
}

#contenu{
    position: absolute;
    top:10px;
    left: 280px;
    right: 10px;
}

td {
    border: 5px solid gray; 
}

table{
    border-collapse: collapse;
}

#center{
    text-align: center;
}